body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

input {
  width: 100%;
}

article {
  display: flex;
}

article > div {
  flex: 0 1 80%
} 
button {
  flex: 0 1 20%;
  align-self: center;
}